---
import Layout from '../layouts/Layout.astro'
import { Header } from '../components/header'
import { LinkExtractor } from '../components/link-extractor'
---

<Layout>
  <Header client:load />
  <main>
    <LinkExtractor client:load />
  </main>
</Layout>